<header class="header-navbar">
  <div>
    <a href="/">
      <img
        width="80"
        height="50"
        loading="lazy"
        src={{' nike.png' |  asset_url}} alt="Nike"
      >
    </a>
  </div>

  <button class="navbar-toggle" aria-label="Toggle navigation">Menu</button>
  <div>
    <ul class="middle-navbar">
      {% for link in linklists['main-menu'].links %}
        <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="right-navbar-items">
    <form action="/search" class="search-form">
      <div class="search-wrapper">
        <input class="search-navbar" placeholder="Search" type="search">
        <img src="{{ 'search.svg' | asset_url }}" alt="search icon" class="search-icon">
      </div>
    </form>

    <a href="/cart">
      <img
        width="40"
        height="40"
        loading="lazy"
        src={{' d.png' |  asset_url}} alt="Cart"
      >
    </a>
  </div>
</header>
