<html>
  <head>
    {% comment %} {% render 'pagefly-head' %} {% endcomment %}
    {{ content_for_header }}

    {{ 'theme.css' |  asset_url |  stylesheet_tag }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    </head>
    <body>
      {% section 'announcement-bar' %}
      {% section 'header' %}
      <main id="main" role="main">
        {{ content_for_layout}}
        </main>

        {% section 'footer' %}
  </body>
</html>
